node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

echo "frontend/.env" >> .gitignore
echo "backend/.phpunit.result.cache" >> .gitignore
echo "backend/storage/certs/" >> .gitignore