/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

echo "frontend/.env" >> .gitignore
echo "backend/.phpunit.result.cache" >> .gitignore
echo "backend/storage/certs/" >> .gitignore
